body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2 {
  color: wheat;
  font-size: 26px;
  margin: 0;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: calc(100vh - 150px);
}

.chat {
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  min-height: 50px;
  background-color: #020202;
  text-align: left;
  color: #ccc;
}

.left-panel {
  width: 200px;
  overflow-y: auto;
  background-color: rgb(78, 48, 48);
  color: rgb(187, 173, 160);
}

.main-panel {
  flex-grow: 1;
  overflow-y: auto;
  background-color: antiquewhite;
}

.participant-list, .message-list {
  padding: 10px;
}

footer {
  height: 100px;
  min-height: 100px;
  background-color: #080808;
  text-align: left;
  color: wheat;
}